<head>
    <title value="CIVA"></title>
	<link type="style" src="/resources/routes/apps/CIVA/style.css">
	<link type="script" src="/resources/routes/apps/CIVA/script.js">
</head>

<body>
    <div id="App_Wrapper">
        <div id="App_Window_Wrapper" class="primary shadow">
            <div id="App_Navigation">
            </div>
            <div id="App_Content" class="wrapper">
				<label id="Login_Window_Banner" class="secondary shadow text-header label" style="width: 200px; height: 64px;"> Test </label>
            </div>
            <div id="App_Dash">
            </div>
        </div>
    </div>
</body>
