<head>
	<link type="style" src="./resources/css/account.css">
	<link type="script" src="./resources/js/account.js"></script>
</head>

<body>
    <div id="Account_Wrapper" class="wrapper">
        <div id="Account_Avatar" class=""><img class="image image-auto" src="{{account.image}}"></div>
        <div id="Account_Banner" class="primary text-header"> {{account.UserName}}'s Account </div>
        <div id="Account_Information" class="text-body paragraph">
            Qui cotidieque instructior an, ius civibus consetetur te, ad ponderum omittantur consectetuer per. Id has impetus singulis. Te diceret vocibus usu, ut duo vitae facilis explicari. Mel tollit ullamcorper an. Vis verear mnesarchum ex, no mazim congue mei. His salutandi assentior ne, has an porro movet choro.
            Te qui probo aliquip officiis. Mea an decore sensibus liberavisse, id probo vocent dissentiunt eos. Qui ad iriure integre dissentiunt, mei wisi modus accusata eu. Cu probo cetero detraxit eum. Simul aperiri eripuit id sea. At summo oblique eos, veniam alienum euripidis eos ad. Latine minimum ut cum, ad modo copiosae usu.
            An suscipit gloriatur est, eum et error alienum nominavi. Simul oporteat vivendum at eum. Nam an latine omittam menandri, at sed phaedrum salutandi, pro et salutatus imperdiet constituam. Urbanitas accommodare vel et. Vide dissentiet an vel, ea eam vocent accumsan molestie. Sit solet ornatus eu, debet philosophia nam at.
            In usu impedit menandri praesent, est fabulas insolens recteque id, soluta lobortis disputationi no per. Per sale liber no. Ea sea nisl cetero utamur. Scripta scripserit referrentur vix an. Vix at melius singulis electram.
            Duo vidit referrentur cu, sea posse porro nominati te, alienum mnesarchum ut vim. Amet primis sententiae an est, duo ut adhuc nonumes explicari. Nec deleniti molestiae maiestatis et, no sea modo fabulas dolores. Ne praesent tractatos honestatis vel, cu alii antiopam mel.
            Tota tation adipisci mea an. Ex aliquando sadipscing vix, at impedit argumentum eam, vix ea ipsum solet instructior. Vix falli oratio efficiendi in, maiestatis democritum intellegebat ut vix, eos ut officiis disputationi. Postea quidam quo ne.
            In facer detraxit consetetur sed, an quis dico referrentur sea. Ex dicam dolorum incorrupte sed, ea dico virtute corrumpit sit. Expetenda principes qui ne, cu ferri equidem honestatis has, an duo facilisi interesset. Est id elitr clita. Denique partiendo persequeris eos ne, his te falli propriae adipiscing. Mei ut accusata abhorreant, munere quodsi posidonium his id.
            Mel labores fabellas ne, saperet detracto ei vim. Definiebas percipitur in pri, habeo lucilius ullamcorper ex vel. Legere invidunt facilisi has an. Ex atqui exerci nemore vix, legendos sapientem cu mei. Affert ceteros in per, audiam latine ad pri, malis detracto adolescens at vim.
            Mea in modus laboramus moderatius, eum labitur docendi nominati cu. Illud erroribus inciderint pri in, in eum ferri novum diceret, usu malis commodo reformidans no. Sed alterum repudiare quaerendum ei. Detraxit dissentiunt ullamcorper an pro, id aperiam definitiones quo, in eos facete nominati adversarium. Cu diam invenire theophrastus sit. Id wisi placerat tractatos ius.
            Vel minim evertitur ne, vix id partem insolens. Erat dicit civibus his et. Quo ei falli debitis. Ad vix tantas ridens constituto, sea ne fugit congue ponderum. Ad vivendum persequeris mei, duo an ullum fierent.
        </div>
    </div>
</body>
