<head>
    <title value="Login"></title>
	<link type="style" src="/resources/routes/users/style.css">
	<link type="script" src="/resources/routes/users/script.js">
</head>

<body>
    <div id="Login_Wrapper">
        <div id="Login_Window_Wrapper" class="primary shadow">
            <label id="Login_Window_Banner" class="secondary shadow text-header label"> Login </label>
            
            <div id="Login_Window_Username" class="secondary shadow">
                <div class="input">
                    <label class="text-label label"> Email </label>
                    <div class="shadow-focus text-label textBox" type="text" placeholder="Password"  contentEditable=true data-placeholder="Email" role="textbox"></div>
                </div>
            </div>
            
            <div id="Login_Window_Password" class="secondary shadow">
                <div class="input">
                    <label class="text-label label"> Password </label>
                    <div class="shadow-focus text-label textBox" type="password" placeholder="Password"  contentEditable=true data-placeholder="Password" role="textbox"></div>
                </div>
            </div>
            
            <button id="Login_Window_Submit" class="secondary secondary-hover shadow shadow-hover text-label button"> Login </button>
            <div id="Error_Window" disabled="true"> <div></div> <div></div> </div>
        </div>
    </div>
</body>
